# Virtual environment
venv/
backend/venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform/terraform.tfvars
terraform/terraform.tfvars.json


# AWS credentials
rootkey.csv



