MAIL_PORT=587
MAIL_HOST=smtp.gmail.com
MAIL_PASSWORD=bmds ljvq mafo ylgs
MAIL_USERNAME=anuvaag167@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_FROM=anuvaag167@gmail.com
SECRET_KEY=DB38D44A27A93533DF17BAFAE55AD1D3B33B0B7AE72FAD
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60